@import "tailwindcss";

:root {
  --color-verdeCabildo: #017a9a;
}

body {
  background-color: #f8fafc;
  min-height: 100vh;
}


.text-verdeCabildo {
  color: var(--color-verdeCabildo);
}

.bg-verdeCabildo {
  background-color: var(--color-verdeCabildo);
}

.hover\:bg-verdeCabildo:hover {
  background-color: #236c3f;
}
