@import "tailwindcss";

:root {
  --verdeCabildo: #2B7D4B;
}

body {
  background-color: #f8fafc;
  min-height: 100vh;
}

.text-verdeCabildo {
  color: var(--verdeCabildo);
}

.bg-verdeCabildo {
  background-color: var(--verdeCabildo);
}

.hover\:bg-verdeCabildo:hover {
  background-color: #236c3f;
}
